/*-------------------DONATE-----------------------*/
body {
    font-family: "Roboto", sans-serif;
  }
  .container {
    max-width: 1199px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header__top {

    width: 100%;
    background-color: black;
    color: #fff;
    z-index: 999;
  }
  .header__top-inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__top-column {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 63px;
  }
  .header__menu-item:not(:last-child) {
    margin-right: 58px;
  }
  .header__menu-link {
    color: #fff;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  .header__menu-item.active .header__menu-link {
    color: #fe9013;
  }
.header__bottom-donate {
    width: 1600px;
    height: 390px;
  }
  .don_pick_and_feed{ 
    width: 1600px;
  height: 1482px;
  background-color: #FED290;
  }
  .donate_text{ 
    padding-top: 40px; 
    color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  }
  .donate_subtitle{
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 500;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
margin-top: 10px;
  }

  .donate_title{ 
color: rgb(254, 144, 19);
font-size: 36px;
font-weight: 400;
line-height: 130%;
letter-spacing: 0%;
text-align: left;
margin-top: 40px;
  }

  .rect{
    margin-top: 60px;
width: 1160px;
height: 964px;
border-radius: 20px;
backdrop-filter: blur(4px);
background: rgba(255, 255, 255, 0.52);
  }
  .rect_text{ 
    padding-top: 40px; 
    color: rgb(254, 144, 19);
font-size: 48px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
  }
  .rect_subtitle{
    margin-top: 20px;
    margin-left: 92px; 
color: rgb(51, 59, 65);
font-size: 24px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
  }

  .donation_number{
    margin-top: 165px; 
    margin-left: 366px;
    width: 41px;
height: 58px;
color: rgb(0, 0, 0);
font-size: 72px;
font-weight: 500;
line-height: 80%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
  }
  .donation_information{ 
    display:flex;
  }
  .x_button{ 
    margin-top: 190px;
    margin-left: 20px;
    
  }
  .donation_img{ 
    margin-top: 60px;
    margin-left: 64px;
  }
.donation_subtitle{
  color: rgb(51, 59, 65);
font-size: 16px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
margin-left: 305px;
margin-top: 11px;
}

.line_text{
  color: rgb(0, 0, 0);
font-size: 16px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
margin-top: 98px;
margin-left: 94px;
}
.rectangle{
  width: 976px;
height: 27px;
border-radius: 2px;
background: rgb(64, 73, 80);
margin-left: 90px;
margin-top: 10px;
}
.circles{
  display: flex;
  padding-top: 8px;
}
.circle1{
  width: 10px;
height: 10px;
border-radius: 50%;
background: rgb(255, 238, 46);
margin-left: 26px;
}
.circle2{ 
  width: 10px;
height: 10px;
border-radius: 50%;
background: rgb(255, 238, 46);
margin-left:120px;
}

.circle3{ 
  width: 10px;
height: 10px;
border-radius: 50%;
background: rgb(255, 238, 46);
margin-left:120px;
}

.circle4{ 
  width: 10px;
height: 10px;
border-radius: 50%;
background: rgb(255, 238, 46);
margin-left:120px;
}
.circle5{ 
  width: 10px;
height: 10px;
border-radius: 50%;
background: rgb(255, 238, 46);
margin-left:120px;
}
.circle6{ 
  width: 10px;
height: 10px;
border-radius: 50%;
background: rgb(255, 238, 46);
margin-left:120px;
}

.circle7{ 
  width: 10px;
height: 10px;
border-radius: 50%;
background: rgb(255, 238, 46);
margin-left:120px;
}

.circl8{ 
  width: 10px;
height: 10px;
border-radius: 50%;
background: rgb(255, 238, 46);
margin-left:120px;
}
